In [1]:
import pandas as pd
import numpy as np

In [6]:
columns = 4
train_data = 10

file_name = f'pseudodata_{columns}f_{train_data}_train.csv'


df = pd.read_csv(f'../data/pseudodata/{file_name}')
x_train = df.drop(df.columns[-1], axis=1)
y_train = df[df.columns[-1]]

In [9]:
x_train

       a     b     c     d
0   0.23  0.25  2.12 -1.90
1  -1.87 -0.20 -0.47  1.77
2  -1.02  0.10  1.68 -0.61
3  -1.30 -0.09  0.13  0.86
4  -1.28 -0.03  0.70  0.38
5  -0.77  0.16  2.06 -1.11
6  -0.65  0.06  1.04 -0.37
7  -1.80 -0.13  0.17  1.20
8   0.42  0.30  2.49 -2.35
9   2.91  0.39  1.44 -3.34
10 -1.32 -0.28 -1.59  2.28
11  0.68 -0.03 -0.77  0.12
12  1.07 -0.08 -1.55  0.47
13 -1.97 -0.36 -1.86  2.98
14  0.85 -0.00 -0.65 -0.10
15  0.27 -0.08 -0.97  0.59
16  1.25  0.05 -0.49 -0.53
17  1.56  0.09 -0.32 -0.90
18  1.11 -0.00 -0.87 -0.12
19 -0.88 -0.24 -1.61  1.97

In [14]:
for idex, row in x_train.iterrows():
    str_row = ','.join([str(elm) for elm in row.to_list()])
    print(str_row)

0.23,0.25,2.12,-1.9
-1.87,-0.2,-0.47,1.77
-1.02,0.1,1.68,-0.61
-1.3,-0.09,0.13,0.86
-1.28,-0.03,0.7,0.38
-0.77,0.16,2.06,-1.11
-0.65,0.06,1.04,-0.37
-1.8,-0.13,0.17,1.2
0.42,0.3,2.49,-2.35
2.91,0.39,1.44,-3.34
-1.32,-0.28,-1.59,2.28
0.68,-0.03,-0.77,0.12
1.07,-0.08,-1.55,0.47
-1.97,-0.36,-1.86,2.98
0.85,-0.0,-0.65,-0.1
0.27,-0.08,-0.97,0.59
1.25,0.05,-0.49,-0.53
1.56,0.09,-0.32,-0.9
1.11,-0.0,-0.87,-0.12
-0.88,-0.24,-1.61,1.97