# Titanic dataset
* Get sample data [here](https://github.com/fuyu-quant/IBLM/tree/main/datasets).

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/fuyu-quant/IBLM/blob/main/examples/iblmodel_titanic.ipynb)

In [131]:
%%capture
!pip install git+https://github.com/fuyu-quant/IBLM.git

In [132]:
import pkg_resources
print(pkg_resources.get_distribution('IBLM').version)

0.0.21

In [133]:
import pandas as pd
from langchain.llms import OpenAI
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

from iblm import IBLMClassifier


import os
#os.environ["OPENAI_API_KEY"] = "OPENAI_API_KEY"

In [138]:
n = 8

#df = pd.read_csv('../datasets/pseudodata_train.csv')
df = pd.read_csv(f'../datasets/titanic/titanicdata_{n}_train.csv')
x_train = df.drop('survived', axis=1)
y_train = df['survived']
print(len(x_train))

8

In [139]:
x_train

,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,...,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,2,27.0,0,0,10.5000,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1,2,7.0,0,2,26.2500,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2,29.0,1,0,26.0000,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,3,27.0,0,0,7.7958,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,3,20.0,0,0,9.2250,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
5,3,21.0,0,0,8.4333,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
6,2,28.0,0,0,0.0000,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
7,3,24.0,0,0,8.8500,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [140]:
llm_model_name = 'gpt-4'

params = {
    'columns_name': True
    }

iblm = IBLMClassifier(llm_model_name=llm_model_name, params=params)

### Training

In [141]:
#file_path = '/content/'
file_path = './code_model/'

print(f'Number of data:{len(x_train)}')
model = iblm.fit(x_train, y_train, model_name = 'titanic', file_path=file_path)

Number of data:8
> Start of model creating.
Tokens Used: 2037
	Prompt Tokens: 1554
	Completion Tokens: 483
Successful Requests: 1
Total Cost (USD): $0.0756

In [127]:
# Code of the model created
print(model)

import numpy as np

def predict(x):
    df = x.copy()
    output = []
    for index, row in df.iterrows():
        # Do not change the code before this point.
        # Please describe the process required to make the prediction below.

        # Calculate the probability based on the given features
        pclass = row['pclass']
        age = row['age']
        fare = row['fare']
        sex_female = row['sex_female']
        sex_male = row['sex_male']
        embarked_C = row['embarked_C']
        embarked_Q = row['embarked_Q']
        embarked_S = row['embarked_S']
        alone_True = row['alone_True']
        adult_male_True = row['adult_male_True']
        class_First = row['class_First']
        class_Second = row['class_Second']
        class_Third = row['class_Third']
        deck_A = row['deck_A']
        deck_B = row['deck_B']
        deck_C = row['deck_C']
        deck_D = row['deck_D']
        deck_E = row['deck_E']
        deck_F = row['deck_F']
        deck_G = row['deck_G']
        embark_town_Cherbourg = row['embark_town_Cherbourg']
        embark_town_Queenstown = row['embark_town_Queenstown']
        embark_town_Southampton = row['embark_town_Southampton']

        # Calculate the probability of survival based on the given features
        prob_survival = 0

        # Higher probability for females
        if sex_female == 1:
            prob_survival += 0.6

        # Higher probability for passengers in first and second class
        if class_First == 1:
            prob_survival += 0.3
        elif class_Second == 1:
            prob_survival += 0.2

        # Higher probability for passengers with lower age
        if age <= 16:
            prob_survival += 0.2
        elif age <= 40:
            prob_survival += 0.1

        # Higher probability for passengers with higher fare
        if fare >= 50:
            prob_survival += 0.1

        # Normalize the probability to be between 0 and 1
        prob_survival = min(1, prob_survival)

        # Do not change the code after this point.
        output.append(prob_survival)
    return np.array(output)

### Prediction

In [128]:
#df = pd.read_csv('/content/titanicdata_test.csv')
df = pd.read_csv(f'../datasets/titanic/titanicdata_{n}_test.csv')
x_test = df.drop('survived', axis=1)
y_test = df['survived']

In [129]:
y_proba = iblm.predict(x_test)
y_pred = (y_proba > 0.5).astype(int)

In [130]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

# Precision
precision = precision_score(y_test, y_pred)
print(f'Precision: {precision}')

# Recall
recall = recall_score(y_test, y_pred)
print(f'Recall: {recall}')

# F1 score
f1 = f1_score(y_test, y_pred)
print(f'F1 score: {f1}')

# ROC-AUC (you need prediction probabilities for this, not just class predictions)
# Here we just reuse y_pred for simplicity
roc_auc = roc_auc_score(y_test, y_proba)
print(f'ROC-AUC: {roc_auc}')

Accuracy: 0.7904869762174406
Precision: 0.744408945686901
Recall: 0.6893491124260355
F1 score: 0.7158218125960062
ROC-AUC: 0.8469491341403833

### Prediction from external files

In [59]:
from model_code import titanic

y_proba = titanic.predict(x_test)
y_pred = (y_proba > 0.5).astype(int)

ImportError: attempted relative import with no known parent package

In [13]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

# Precision
precision = precision_score(y_test, y_pred)
print(f'Precision: {precision}')

# Recall
recall = recall_score(y_test, y_pred)
print(f'Recall: {recall}')

# F1 score
f1 = f1_score(y_test, y_pred)
print(f'F1 score: {f1}')

# ROC-AUC (you need prediction probabilities for this, not just class predictions)
# Here we just reuse y_pred for simplicity
roc_auc = roc_auc_score(y_test, y_proba)
print(f'ROC-AUC: {roc_auc}')

Accuracy: 0.45
Precision: 0.3956043956043956
Recall: 1.0
F1 score: 0.5669291338582677
ROC-AUC: 0.9197048611111112

## Interpretation of results

In [14]:
description = iblm.interpret()

Tokens Used: 896
	Prompt Tokens: 341
	Completion Tokens: 555
Successful Requests: 1
Total Cost (USD): $0.04353

In [15]:
print(description)

- First, the function `predict` takes a DataFrame `x` as input and creates a copy of it named `df`. The columns of `df` are then renamed to be integer indices.

- The function then initializes an empty list called `output` to store the predictions.

- For each row in the DataFrame `df`, the function extracts the following features:
  - `pclass`: Passenger class (First, Second, or Third)
  - `sex`: Gender of the passenger (male or female)
  - `age`: Age of the passenger
  - `fare`: Ticket fare paid by the passenger
  - `embarked`: Port of embarkation (C, Q, or S)
  - `alone`: Whether the passenger is traveling alone or not (True or False)

- The prediction logic is then applied to these features, and a variable `y` is initialized to 0.

- The following conditions are checked and the corresponding values are added to `y`:
  - If `pclass` is 'First', add 0.3 to `y`.
  - If `pclass` is 'Second', add 0.15 to `y`.
  - If `sex` is 'female', add 0.35 to `y`.
  - If `age` is less than or equal to 16, add 0.1 to `y`.
  - If `age` is greater than 16 and less than or equal to 32, add 0.05 to `y`.
  - If `fare` is greater than 50, add 0.1 to `y`.
  - If `embarked` is 'C', add 0.05 to `y`.
  - If `alone` is True, add 0.05 to `y`.

- After processing all the conditions, the value of `y` is transformed using the logistic function: `y = 1 / (1 + np.exp(-y))`. This transformation maps `y` to a value between 0 and 1, which can be interpreted as a probability.

- The transformed value of `y` is then appended to the `output` list.

- Once all rows in the DataFrame have been processed, the `output` list is converted to a NumPy array and returned by the function.

Based on the whole process, we can say that the function `predict` takes a DataFrame containing passenger information and returns an array of probabilities representing the likelihood of each passenger meeting certain criteria (e.g., survival). The prediction is based on a simple rule-based model that considers passenger class, gender, age, fare, port of embarkation, and whether the passenger is traveling alone.

### Creating Multiple Models

In [52]:
#file_path = '/content/'
file_path = './model_code/'

for i in range(30):
    model = iblm.fit(x_train, y_train, model_name = f'titanic_{i}_', file_path=file_path)

> Start of model creating.
Tokens Used: 7571
	Prompt Tokens: 7239
	Completion Tokens: 332
Successful Requests: 1
Total Cost (USD): $0.23708999999999997
> Start of model creating.
Tokens Used: 7690
	Prompt Tokens: 7239
	Completion Tokens: 451
Successful Requests: 1
Total Cost (USD): $0.24422999999999997
> Start of model creating.
Tokens Used: 7577
	Prompt Tokens: 7239
	Completion Tokens: 338
Successful Requests: 1
Total Cost (USD): $0.23744999999999997
> Start of model creating.
Tokens Used: 7653
	Prompt Tokens: 7239
	Completion Tokens: 414
Successful Requests: 1
Total Cost (USD): $0.24200999999999998
> Start of model creating.
Tokens Used: 7692
	Prompt Tokens: 7239
	Completion Tokens: 453
Successful Requests: 1
Total Cost (USD): $0.24434999999999998
> Start of model creating.
Tokens Used: 7570
	Prompt Tokens: 7239
	Completion Tokens: 331
Successful Requests: 1
Total Cost (USD): $0.23702999999999996
> Start of model creating.
Tokens Used: 7692
	Prompt Tokens: 7239
	Completion Tokens: 453
Successful Requests: 1
Total Cost (USD): $0.24434999999999998
> Start of model creating.
Tokens Used: 7692
	Prompt Tokens: 7239
	Completion Tokens: 453
Successful Requests: 1
Total Cost (USD): $0.24434999999999998
> Start of model creating.
Tokens Used: 7577
	Prompt Tokens: 7239
	Completion Tokens: 338
Successful Requests: 1
Total Cost (USD): $0.23744999999999997
> Start of model creating.
Tokens Used: 7647
	Prompt Tokens: 7239
	Completion Tokens: 408
Successful Requests: 1
Total Cost (USD): $0.24164999999999998
> Start of model creating.
Tokens Used: 7688
	Prompt Tokens: 7239
	Completion Tokens: 449
Successful Requests: 1
Total Cost (USD): $0.24410999999999997
> Start of model creating.
Tokens Used: 7692
	Prompt Tokens: 7239
	Completion Tokens: 453
Successful Requests: 1
Total Cost (USD): $0.24434999999999998
> Start of model creating.
Tokens Used: 7541
	Prompt Tokens: 7239
	Completion Tokens: 302
Successful Requests: 1
Total Cost (USD): $0.23528999999999997
> Start of model creating.
Tokens Used: 7652
	Prompt Tokens: 7239
	Completion Tokens: 413
Successful Requests: 1
Total Cost (USD): $0.24194999999999997
> Start of model creating.
Tokens Used: 7576
	Prompt Tokens: 7239
	Completion Tokens: 337
Successful Requests: 1
Total Cost (USD): $0.23738999999999996
> Start of model creating.
Tokens Used: 7637
	Prompt Tokens: 7239
	Completion Tokens: 398
Successful Requests: 1
Total Cost (USD): $0.24105
> Start of model creating.
Tokens Used: 7598
	Prompt Tokens: 7239
	Completion Tokens: 359
Successful Requests: 1
Total Cost (USD): $0.23870999999999998
> Start of model creating.
Tokens Used: 7542
	Prompt Tokens: 7239
	Completion Tokens: 303
Successful Requests: 1
Total Cost (USD): $0.23534999999999998
> Start of model creating.
Tokens Used: 7692
	Prompt Tokens: 7239
	Completion Tokens: 453
Successful Requests: 1
Total Cost (USD): $0.24434999999999998
> Start of model creating.
Tokens Used: 7649
	Prompt Tokens: 7239
	Completion Tokens: 410
Successful Requests: 1
Total Cost (USD): $0.24176999999999998
> Start of model creating.
Tokens Used: 7649
	Prompt Tokens: 7239
	Completion Tokens: 410
Successful Requests: 1
Total Cost (USD): $0.24176999999999998
> Start of model creating.
Tokens Used: 7758
	Prompt Tokens: 7239
	Completion Tokens: 519
Successful Requests: 1
Total Cost (USD): $0.24830999999999998
> Start of model creating.
Tokens Used: 7705
	Prompt Tokens: 7239
	Completion Tokens: 466
Successful Requests: 1
Total Cost (USD): $0.24512999999999996
> Start of model creating.
Tokens Used: 7692
	Prompt Tokens: 7239
	Completion Tokens: 453
Successful Requests: 1
Total Cost (USD): $0.24434999999999998
> Start of model creating.
Tokens Used: 7659
	Prompt Tokens: 7239
	Completion Tokens: 420
Successful Requests: 1
Total Cost (USD): $0.24236999999999997
> Start of model creating.
Tokens Used: 7741
	Prompt Tokens: 7239
	Completion Tokens: 502
Successful Requests: 1
Total Cost (USD): $0.24728999999999998
> Start of model creating.
Tokens Used: 7542
	Prompt Tokens: 7239
	Completion Tokens: 303
Successful Requests: 1
Total Cost (USD): $0.23534999999999998
> Start of model creating.
Tokens Used: 7692
	Prompt Tokens: 7239
	Completion Tokens: 453
Successful Requests: 1
Total Cost (USD): $0.24434999999999998
> Start of model creating.
Tokens Used: 7598
	Prompt Tokens: 7239
	Completion Tokens: 359
Successful Requests: 1
Total Cost (USD): $0.23870999999999998
> Start of model creating.
Tokens Used: 7649
	Prompt Tokens: 7239
	Completion Tokens: 410
Successful Requests: 1
Total Cost (USD): $0.24176999999999998