## Make Psuedo Dataset

In [1]:
import pandas as pd
import numpy as np

import string

from sklearn.datasets import make_classification

In [2]:
columns = 4
train_data = 300
sampling = int(train_data/2)
#test_data = 300
sample = 600
#seed = 3655
#seed = 3656
seed = 3657

X, y = make_classification(n_samples=sample, n_features=columns, random_state=seed)
X = np.round(X, 2)
y = np.round(y, 2)

sample = 100

sample_num = int(sample/2)

column_name = [letter for letter in string.ascii_lowercase[:columns]] 



df = pd.DataFrame(X, columns = column_name)
df['target'] = y 


df_1 = df[df['target'] == 1].sample(n=sampling, random_state=seed)
df_0 = df[df['target'] == 0].sample(n=sampling, random_state=seed)


df_train = pd.DataFrame()
df_len = len(df_1)
for i in range(df_len):
    df1 = pd.DataFrame([df_1.iloc[i]])
    df0 = pd.DataFrame([df_0.iloc[i]])
    df_train = pd.concat([df_train, df1, df0])

df_train['target'] = df_train['target'].astype(int)
df_test = df.drop(df_train.index)


print(len(df_train))
df_train.to_csv(f'../../data/evaluation_dataset/pseudodata_{seed}_{train_data}_train.csv', index=False)
print(len(df_test))
df_test.to_csv(f'../../data/evaluation_dataset/pseudodata_{seed}_{train_data}_test.csv', index=False)

300
300

In [3]:
df_train.head()

        a     b     c     d  target
30   0.71 -1.08 -0.83 -1.21       1
25  -0.25  0.49  0.32  0.51       0
170  0.22 -0.00 -0.16 -0.12       1
476 -0.64  1.27  0.83  1.31       0
564  2.04  2.13 -0.86  0.47       1