## Make Titanic Dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv', index_col=0)

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
df = pd.read_csv('titanic.csv', index_col=0)

sample = 8
sample_num = int(sample/2)

df['age'].fillna(df['age'].median(), inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)


df = pd.get_dummies(df, columns=['sex'])
df = pd.get_dummies(df, columns=['embarked'])
df = pd.get_dummies(df, columns=['alive'])
df = pd.get_dummies(df, columns=['alone'])
df = pd.get_dummies(df, columns=['adult_male'])
df = pd.get_dummies(df, columns=['who'])
df = pd.get_dummies(df, columns=['class'])
df = pd.get_dummies(df, columns=['deck'])
df = pd.get_dummies(df, columns=['embark_town'])

df_1 = df[df['survived'] == 1].sample(n=sample_num, random_state=3655)
df_0 = df[df['survived'] == 0].sample(n=sample_num, random_state=3655)
df_train = pd.concat([df_1, df_0])
df_test = df.drop(df_train.index)

print(len(df_train))
print(len(df_test))
df_train.to_csv(f'titanicdata_{sample}_train.csv', index=False)
df_test.to_csv(f'titanicdata_{sample}_test.csv', index=False)

8
883